*{
  margin: 0;
  padding: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
img{
  vertical-align: middle;
  border: 0;
}

h1,h2,h3,h4,h5,h6,a,p,span,ul,ol,strong{
  font-family: 'Poppins', sans-serif;
}


/* ======================================================================================================
                                              Sub Navbar Part Css
======================================================================================================== */
#sub-nav{
  padding-top: 15px;
  padding-bottom: 10px;
  background: #06a551;
}
.sub-nav-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sub-nav-item{
  display: flex;
  max-width: 300px;
}
.sub-nav-item:nth-child(1),.sub-nav-item:nth-child(2){
  margin-right: 20px;
}
.sub-social-icon:nth-child(1),.sub-social-icon:nth-child(2){
  margin-right: 10px;
}
.sub-social-icon i{
 margin-left: 30px;
 color: #ffffff;
 transition: all linear .3s;
 overflow: hidden;
 font-size: 16px;
}
.sub-social-icon i:hover{
  color: #eeeeee;
  transform: scale(1.2);
}
.sub-nav-item .content h6{
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  transition: all linear .3s;
}
.sub-nav-item .content h6:hover{
  color: #eeeeee;
}

/* ===================================================================================================
                                             Navbar Part Css
======================================================================================================= */
.navbar-brand img{
  height: 90px;
}
.navbar{
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #282828;
  text-transform: uppercase;
  transition: all linear .3s;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-light .navbar-nav .nav-link:focus{
  color: #282828;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #06a551;
}
.menu-bg{
  background: #ffffff;
  position: fixed;
  animation: bg 1s;
  width: 100%;
  top: 0;
  z-index: 99999;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
@keyframes bg{
  from{top: -50px;}
  to{top: 0px;}
}

/* =======================================================================================================
                                           Banner Part Css
========================================================================================================= */
#banner{
  background: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  position: relative;
}
#banner::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.banner-bg{
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.banner-content h1{
  color: #f5f5f5;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 10px;
}
.banner-content p{
  color: #eeeeee;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  padding: 0 100px;
}

/* ===================================================================================================
                                             About Part Css
======================================================================================================= */
#about{
  padding-top: 80px;
}
.about-content h2{
  color: #06a551;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about-content p{
  color: #444444;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  padding-right: 35px;
}
.about-content .img{
  background: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  position: relative;
}
.about-content .img::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}

/* ======================================================================================================
                                               Service Part Css
======================================================================================================== */
#service{
  padding-top: 80px;
  padding-bottom: 20px;
}
.title h2{
  text-align: center;
  color: #06a551;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 50px;
}
.service-item{
  text-align: center;
  margin-bottom: 60px;
  transition: all linear .4s;
}
.service-item:hover{
  transform: translateY(-5px);
}
.service-item h6{
  color: #383838;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
}

/* ========================================================================================================
                                           Contact Part Css
========================================================================================================= */
#contact{
  padding-top: 80px;
  padding-bottom: 80px;
  background: #383838;
}
.contact-content span{
  display: block;
}
.contact-content h6{
  color: #eeeeee;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-content span{
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.social-link i{
  color: #eeeeee;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.15);
  margin-top: 10px;
  transition: all linear .4s;
}
.social-link i:hover{
  background: #06a551;
}
/* =======================================================================================================
                                             Footer Part Css
======================================================================================================== */
#footer{
  padding-top: 30px;
  padding-bottom: 20px;
  background: #282828;
}
.footer-content h6{
  color: #eeeeee;
  font-size: 16px;
  font-weight: 400;
}
.footer-content a{
  color: #eeeeee;
  transition: all linear .4s;
}
.footer-content a:hover{
  color: #06a551;
}

/* ===============================================================================================
                                           Back to Top Part Css
=================================================================================================== */
.back-to-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  display: none;
}
.back-to-top i{
  color: #f5f5f5;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #06a551;
  border-radius: 3px;
}

/* ===================================================================================================
                                            Preloader Part Css
===================================================================================================== */
.preloader{
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 99999999;
}
.donutSpinner {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #06a551;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: donut-spin 1.2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
}
@keyframes donut-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* =======================================================================================================
                                             IT Consulting Part Css
======================================================================================================== */
#banner2{
  background: url(../images/It\ consulting.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  position: relative;
}
#banner2::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.mr1 h1{
  text-transform: uppercase;
  font-size: 50px;
}
#it{
  padding-top: 80px;
  padding-bottom: 50px;
}
.it-part h6{
  color: #06a551;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.it-part h5{
  font-size: 24px;
  color: #383838;
  font-weight: 500;
  margin-bottom: 15px;
}
.it-part p{
  color: #444444;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 50px;
  padding: 0 100px;
}
.it-item{
  margin-bottom: 30px;
  transition: all linear .3s;
}
.it-item:hover{
  transform: translateY(-5px);
}
.it-text h6{
  font-size: 18px;
  color: #383838;
  font-weight: 600;
  margin-bottom: 10px;
}
.it-text p{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* =======================================================================================================
                                             Programs Part Css
======================================================================================================== */
#banner3{
  background: url(../images/Traning\ programs.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  position: relative;
}
#banner3::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#program{
  padding-top: 80px;
  padding-bottom: 80px;
}
/* =======================================================================================================
                                               Projects Part Css
========================================================================================================= */
#banner4{
  background: url(../images/projects.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
}
#banner4::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#project{
  padding-top: 80px;
  padding-bottom: 50px;
}
.button{
  padding-bottom: 40px;
}
.button button{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: transparent;
  margin: 0 5px;
  padding: 10px 17px;
  transition: all linear .3s;
  cursor: pointer;
}
.button button:hover{
  background: #06a551;
  color: #ffffff;
}
.project-item{
  cursor: pointer;
  padding-bottom: 30px;
}
.project-img{
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17,17,17,0.7);
  opacity: 0;
  transition: all linear .3s;
}
.overlay i{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10px;
  color: #ffffff;
  transition: all linear .3s;
  font-size: 24px;
}
.rotate{
  transform: rotate(90deg);
}
.overlay i:hover{
  color: #06a551;
}
.project-item:hover .overlay{
  opacity: 1;
}
.project-item:hover .project-text{
  background: #06a551;
}
.project-item:hover .project-text h3{
  color: #ffffff;
}
.project-item:hover .project-text p{
  color: #ffffff;
}
.project-item:hover .project-text::after{
  background: #06a551;
}
.project-text{
  background: #fbfaf8;
  padding: 30px;
  position: relative;
  transition: all linear .3s;
}
.project-text::after{
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  top: -15px;
  left: 20px;
  transform: rotate(45deg);
  background: #fbfaf8;
  transition: all linear .3s;
}
.project-text h3{
  color: #06a551;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all linear .3s;
}
.project-text p{
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  transition: all linear .3s;
}
button:focus {
  outline: 0;
}
.button button.mixitup-control-active{
  background: #06a551;
  color: #ffffff;
}
/* =========================================================================================================
                                              Technologies Part Css
========================================================================================================= */
#banner5{
  background: url(../images/Technologies.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  position: relative;
}
#banner5::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#technology{
  padding-top: 80px;
  padding-bottom: 80px;
}

/* =======================================================================================================
                                             Contact Us Part Css
======================================================================================================== */
#banner6{
  background: url(../images/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
}
#banner6::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

#contacts{
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact-form h6{
  font-size: 16px;
  color: #06a551;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
.contact-form h5{
  font-size: 30px;
  color: #282828;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.contact-form .form-group .form-control{
  line-height: 26px;
  padding: 10px 30px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #acacac;
  font-family: 'Poppins', sans-serif;
}
.contact-form .form-group .mr2{
  height: 160px;
  border-radius: 15px;
}
.contact-form .form-control:focus{
  box-shadow: none;
  border-color: #06a551;
}
.submit-btn{
  text-align: center;
  margin-top: 20px;
}
.submit-btn .btn{
  background: rgb(6,165,81);
  background: linear-gradient(90deg, rgba(6,165,81,1) 0%, rgba(34,222,123,1) 35%, rgba(6,165,81,1) 100%);
  font-family: 'Poppins', sans-serif;
  border: 0;
  border-radius: 50px;
  padding: 17px 40px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.submit-btn .btn:hover{
  background: rgb(34,222,123);
  background: linear-gradient(90deg, rgba(34,222,123,1) 0%, rgba(6,165,81,1) 35%, rgba(34,222,123,1) 100%);
}
.map{
  margin-top: 40px;
  text-align: center;
}
.map h5{
  color: #282828;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.map p{
  color: #444444;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}