*{
  margin: 0;
  padding: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
img{
  vertical-align: middle;
  border: 0;
}

h1,h2,h3,h4,h5,h6,a,p,span,ul,ol,strong{
  font-family: 'Poppins', sans-serif;
}


/* ======================================================================================================
                                              Sub Navbar Part Css
======================================================================================================== */
#sub-nav{
  padding-top: 15px;
  padding-bottom: 10px;
  background: #06a551;
}
.sub-nav-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sub-nav-item{
  display: flex;
  max-width: 300px;
}
.sub-nav-item:nth-child(1),.sub-nav-item:nth-child(2){
  margin-right: 20px;
}
.sub-social-icon:nth-child(1),.sub-social-icon:nth-child(2){
  margin-right: 10px;
}
.sub-social-icon i{
 margin-left: 30px;
 color: #ffffff;
 transition: all linear .3s;
 overflow: hidden;
 font-size: 16px;
}
.sub-social-icon i:hover{
  color: #eeeeee;
  transform: scale(1.2);
}
.sub-nav-item .content h6{
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  transition: all linear .3s;
}
.sub-nav-item .content h6:hover{
  color: #eeeeee;
}

/* ===================================================================================================
                                             Navbar Part Css
======================================================================================================= */
.navbar-brand {
  margin-right: 0;
}
.navbar-brand img{
  height: 90px;
}
.navbar{
  padding: 0;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #282828;
  text-transform: uppercase;
  transition: all linear .3s;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-light .navbar-nav .nav-link:focus{
  color: #282828;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #06a551;
}
.menu-bg{
  background: #ffffff;
  position: fixed;
  animation: bg 1s;
  width: 100%;
  top: 0;
  z-index: 99999;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
@keyframes bg{
  from{top: -50px;}
  to{top: 0px;}
}
.logo-bg{
  color: #06a551;
  font-size: 20px;
  font-weight: 700;
  margin-top: 7px;
}
/* =======================================================================================================
                                           Banner Part Css
========================================================================================================= */
#banner{
  background: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  position: relative;
}
#banner::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.banner-bg{
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.banner-content h1{
  color: #f5f5f5;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 10px;
}
.banner-content p{
  color: #eeeeee;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  padding: 0 100px;
}
.banner-btn{
  margin-top: 30px;
}
.banner-btn .btn{
  padding: 12px 30px;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  background: #06a551;
  border: 2px solid #06a551;
  transition: all linear .3s;
}
.banner-btn .btn:hover{
  background: transparent;
  transform: translateY(-5px);
}
.banner-btn .btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

/* ===================================================================================================
                                             About Part Css
======================================================================================================= */
#about{
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
#about::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.about-content h2{
  color: #06a551;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about-content p{
  color: #444444;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-align: justify;
}
.mr4{
  border: 1px solid #eeeeee;
  background: #fcfcfc;
  box-shadow: 0 0 5px #eeeeee;
  padding: 30px;
  border-radius: 2px;
}
/* =====================================================================================================
                                              Mission Part Css
======================================================================================================= */
#mission{
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../images/goal.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
#mission::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.mission-bg{
  position: relative;
  z-index: 999;
}
.mr5{
  border: 1px solid #eeeeee;
  background: #fcfcfc;
  box-shadow: 0 0 5px #eeeeee;
  padding: 30px;
  border-radius: 2px;
}

/* =======================================================================================================
                                             Unique Part Css
========================================================================================================= */
.unique-icon i{
  color: #06a551;
  font-size: 14px;
}
.unique-item{
  padding-bottom: 5px;
}
.unique-item span{
  color: #444444;
}
.unique-item ul li{
  color: #444444;
}
.unique-content h2{
  color: #06a551;
  font-size: 20px;
  font-weight: 600;
  margin-left: 28px;
}

/* ======================================================================================================
                                              Video Part Css
======================================================================================================= */
#video{
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f7f7f7;
}
.video-title h2{
  color: #06a551;
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.video-item video{
  border-radius: 5px;
  border: 8px solid #ffffff;
}
/* ======================================================================================================
                                               Services Part Css
======================================================================================================== */
#banner5{
  background: url(../images/service.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  position: relative;
}
#banner5::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#service{
  padding-top: 80px;
  padding-bottom: 50px;
}
.title h2{
  text-align: center;
  color: #06a551;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 50px;
}
/* .service-item{
  text-align: center;
  margin-bottom: 60px;
  transition: all linear .4s;
}
.service-item:hover{
  transform: translateY(-5px);
}
.service-item h6{
  color: #383838;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
} */


.service-item-card{
  position: relative;
  margin-bottom: 30px;
  transition: all linear .3s;
}
.service-item-card:hover{
  transform: translateY(-5px);
}
.service-item-card .face{
  padding: 20px 0;
}
.service-item-card .face.face1{
  position: relative;
  background: #f7f7f7;
  border: 1px solid rgb(102, 102, 102,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 0;
  /* transform: translateY(100px); */
}
/* .service-item-card:hover .face.face1{
  transform: translateY(0);
  border-bottom: 0;
} */
.service-item-card .face.face1 .content{
  opacity: 0.9;
  transition: 0.5s;
}
.service-item-card:hover .face.face1 .content{
  opacity: 1;
}
.service-item-card .face.face1 .content img{
  max-width: 100px;
}
.service-item-card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #222222;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.service-item-card .face.face2{
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid rgba(102, 102, 102,0.2);
  border-top: 0;
  /* transform: translateY(-100px); */
}
.service-item-card .face.face2 .content ul{
  padding: 15px 0;
}
.service-item-card .face.face2 .content ul li i{
  color: #06a551;
  font-size: 12px;
  margin-right: 5px;
}
.service-item-card .face.face2 .content ul li{
  color: #444444;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
/* .service-item-card:hover .face.face2{
  transform: translateY(0);
} */
/* ========================================================================================================
                                           Contact Part Css
========================================================================================================= */
#contact{
  padding-top: 80px;
  padding-bottom: 80px;
  background: #383838;
}
.contact-content span{
  display: block;
}
.contact-content h6{
  color: #eeeeee;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-content span{
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.social-link i{
  color: #eeeeee;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.15);
  margin-top: 10px;
  transition: all linear .4s;
}
.social-link i:hover{
  background: #06a551;
}
.mr7{
  position: relative;
  top: -20px;
  left: -55px;
}
/* =======================================================================================================
                                             Footer Part Css
======================================================================================================== */
#footer{
  padding-top: 30px;
  padding-bottom: 20px;
  background: #282828;
}
.footer-content h6{
  color: #eeeeee;
  font-size: 16px;
  font-weight: 400;
}
.footer-content a{
  color: #eeeeee;
  transition: all linear .4s;
}
.footer-content a:hover{
  color: #06a551;
}

/* ===============================================================================================
                                           Back to Top Part Css
=================================================================================================== */
.back-to-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  display: none;
}
.back-to-top i{
  color: #f5f5f5;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #06a551;
  border-radius: 3px;
}

/* ===================================================================================================
                                            Preloader Part Css
===================================================================================================== */
.preloader{
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 99999999;
}
.donutSpinner {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #06a551;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: donut-spin 1.2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
}
@keyframes donut-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* =======================================================================================================
                                             IT Consulting Part Css
======================================================================================================== */
#banner2{
  background: url(../images/It\ consulting.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  position: relative;
}
#banner2::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.mr1 h1{
  text-transform: uppercase;
  font-size: 50px;
}
#it{
  padding-top: 80px;
  padding-bottom: 50px;
}
.it-part h6{
  color: #06a551;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.it-part h5{
  font-size: 24px;
  color: #383838;
  font-weight: 500;
  margin-bottom: 15px;
}
.it-part p{
  color: #444444;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 50px;
  padding: 0 20px;
}
.it-item{
  margin-bottom: 30px;
  transition: all linear .3s;
}
.it-item:hover{
  transform: translateY(-5px);
}
.it-text h6{
  font-size: 18px;
  color: #383838;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 26px;
}
.it-text p{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.it-text ul li i{
  color: #06a551;
  font-size: 8px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.it-text ul li{
  color: #666666;
  font-size: 14px;
  margin-bottom: 5px;
}
.vbox-overlay{
  z-index: 99999;
}
.vbox-content img{
  height: 550px;
}
/* =======================================================================================================
                                               Projects Part Css
========================================================================================================= */
#banner4{
  background: url(../images/projects.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
}
#banner4::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#project{
  padding-top: 80px;
  padding-bottom: 50px;
}
.button{
  padding-bottom: 40px;
}
.button button{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: transparent;
  margin: 0 5px;
  padding: 10px 17px;
  transition: all linear .3s;
  cursor: pointer;
}
.button button:hover{
  background: #06a551;
  color: #ffffff;
}
.project-item{
  cursor: pointer;
  padding-bottom: 30px;
}
.project-img{
  position: relative;
}
.project-img img{
  height: 265px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17,17,17,0.7);
  opacity: 0;
  transition: all linear .3s;
}
.overlay i{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10px;
  color: #ffffff;
  transition: all linear .3s;
  font-size: 24px;
}
.rotate{
  transform: rotate(90deg);
}
.overlay i:hover{
  color: #06a551;
}
.project-item:hover .overlay{
  opacity: 1;
}
.project-item:hover .project-text{
  background: #06a551;
}
.project-item:hover .project-text h3{
  color: #ffffff;
}
.project-item:hover .project-text p{
  color: #ffffff;
}
.project-item:hover .project-text::after{
  background: #06a551;
}
.project-text{
  background: #fbfaf8;
  padding: 30px;
  position: relative;
  transition: all linear .3s;
}
.project-text::after{
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  top: -15px;
  left: 20px;
  transform: rotate(45deg);
  background: #fbfaf8;
  transition: all linear .3s;
}
.project-text h3{
  color: #06a551;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all linear .3s;
}
.project-text p{
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  transition: all linear .3s;
}
button:focus {
  outline: 0;
}
.button button.mixitup-control-active{
  background: #06a551;
  color: #ffffff;
}
.project-title h2{
  color: #06a551;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 25px;
}
.project-title p{
  font-size: 16px;
  color: #444444;
  line-height: 26px;
  font-weight: 400;
}
.project-title .mr3{
  margin-bottom: 30px;
}

/* =======================================================================================================
                                             Contact Us Part Css
======================================================================================================== */
#banner6{
  background: url(../images/contact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
}
#banner6::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

#contacts{
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact-form h6{
  font-size: 16px;
  color: #06a551;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
.contact-form h5{
  font-size: 30px;
  color: #282828;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.contact-form .form-group .form-control{
  line-height: 26px;
  padding: 10px 30px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #acacac;
  font-family: 'Poppins', sans-serif;
}
.contact-form .form-group .mr2{
  height: 160px;
  border-radius: 15px;
}
.contact-form .form-control:focus{
  box-shadow: none;
  border-color: #06a551;
}
.submit-btn{
  text-align: center;
  margin-top: 20px;
}
.submit-btn .btn{
  background: rgb(6,165,81);
  background: linear-gradient(90deg, rgba(6,165,81,1) 0%, rgba(34,222,123,1) 35%, rgba(6,165,81,1) 100%);
  font-family: 'Poppins', sans-serif;
  border: 0;
  border-radius: 50px;
  padding: 17px 40px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.submit-btn .btn:hover{
  background: rgb(34,222,123);
  background: linear-gradient(90deg, rgba(34,222,123,1) 0%, rgba(6,165,81,1) 35%, rgba(34,222,123,1) 100%);
}
.map{
  margin-top: 40px;
  text-align: center;
}
.map h5{
  color: #282828;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.map p{
  color: #444444;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}
/* =====================================================================================================
                                       Service Inner Part Css
======================================================================================================== */
#banner7{
  background: url(../images/common.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  position: relative;
}
#banner7::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
#inner{
  padding-top: 80px;
  padding-bottom: 80px;
}
.inner-item ul li{
  color: #383838;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.inner-item ul li i{
  color: #06a551;
  font-size: 16px;
  margin-right: 10px;
}